.row
  .col-12.text-center
    %h1= "Listing Articles"

.row
  .offset-3.col-6
    %table.table
      %thead
        %tr
          %th
            id
          %th
            Title
          %th
      %tbody
      - @articles.each do |article|
        %tr
          %td
            = article.id
          %td
            = article.title
          %td
            = link_to  article.id, article,  class: "btn btn-primary btn-block"
.row
  .offset-3.col-6
    = link_to 'New Article', new_article_path, class: "btn btn-info btn-block"



