.row
  .col-12.text-center
    .h1
      New Article
.row
  .col-3
  .col-6
    = form_for :article, url: :articles, local: true do |f|
      .form-group.row
        .col-2.col-form-label
          = label :article, :title, "Title"
        .col-10
          = text_field :article, :title, class: "form-control"
      .form-group.row
        .col-2.col-form-label
          = label :article, :text, "Text"
        .col-10
          = text_area :article, :text, class: "form-control"
      .form-group.row
        .offset-3.col-6
          = button_tag :submit, class: "btn btn-primary btn-block"
  .col-3

